@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

body {
  background: #f2f2f2;
  color: #333;
  font-family: "Nunito";
}
/* body{
  padding: 0px;
  margin: 0px;
} */
header,footer{
position: absolute;
width: 100%;
}
.header {
background-color: rgba(255,255,255,0.9) ;
overflow: hidden;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.header a {
  float: left;
  font-family: inherit;
  font-size: 8px;

  
  text-align: center;
  padding:5px 8px;
  text-decoration: none;
}
.header-logo {
  float: left;
  padding: 5px 8px;
}
.header-logo a {
  float: left;
color: #0e0e00;
  padding:0px;
}
.float-right-header {
  float:right;
  padding: 5px 8px;
}
.float-right-header {
  padding-left: 5px;
  padding-bottom: 5px;
}
.header a:hover{
color:#ff6600;
}
.btn {
border-radius: 0;
font-family: "Poppins", sans-serif;
font-size: 10px;
font-style: normal;
font-weight: 600;
line-height: 1;
margin-bottom: 10px;
min-width: 200px;
padding: 0px 0px;
text-align: center;
text-transform: none;
}

.btn.btn-small {
min-width: 150px;
border-radius: 4px;
}

.btn.round,
.btn.rounded {
line-height: 1;
padding: 23px;
}
.btn-maincolor2,
.btn-maincolor3,
.btn-maincolor4,
.btn-darkgrey {
color: #fff;
}



.btn-maincolor2 {
background-color: #0056a2;
border: 0px solid #0056a2;
}

.btn-maincolor3 {
background-color: #36404c;
border: 3px solid #36404c;
}



.btn-darkgrey {
background-color: #36404c;
border: 3px solid #36404c;
}
.navbar{
overflow: hidden;
background-color:whitesmoke;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
text-decoration: none;
text-transform: uppercase;


height: 70px;
margin: auto ;

}
.navbar a{
float:left;
font-family: inherit;
font-size: 16px;
color:black;
text-align: center;
padding: 12px 50px;


text-decoration: none;
}
.navbar a:hover{
background-color: #ff6600;
border-bottom: solid blue;
}

.navbar-logo {
  float: left;

  padding: 5px 8px;
}
.navbar-logo a {
  float: left;
color: rgb(10, 10, 10);
  padding:0px 20px;
}
.float-navbar {
  float:right;
color: rgb(10, 10, 10);
  padding: 10px 16px;

}
.float-navbar a{
  /* padding-left: 10px; */
  padding-bottom: 10px;
color: rgb(10, 10, 10);
}
h1{
margin: 0;
padding: 0px 50px;
}

/* footer */
.footer{
  
    display: block;
    text-align: center;
    padding:  0;
   
    color: #777;
    border-top: 2px solid #ddd;
  
}
.inner-footer{
margin: 0;
padding: 0;
background-color: rgb(241, 241, 241);
}
.quick-links{
display: flex;
width: 560px;
height: 70px;
margin: auto ;
}
.quick-links ul{
display: flex;
}
.quick-items{
list-style: none;
}
.quick-items a{
text-decoration:none ;
padding: 0px 35px;
font-size: 20px;
color:rgb(10, 10, 10);
transition: all .25s;
}
.quick-items a:hover{
color: #ff6600;
}
.social-links{
display: flex;
}
.social-links ul{
padding: 10px;
display: flex;
width: 200px;
height: 50px;
margin: auto ;
}
.social-items{
list-style: none;
}
.social-items a{
padding: 10px 20px;
padding-bottom: 5px;
font-size: 20px;
color: blue;

}
.social-items a:hover{
color: #ff6600;
}

div .hori-line{
    display: flex;
    margin-left: 20%;
    margin-bottom: 10px;
  padding:  0px ;
  background-color: black;
  height: 1px;
  width: 900px;
  
}
.outer-footer{
padding: 5px;
text-align: center;
font-size: 10px;
color: #000;
background-color: rgb(241, 241, 241);
}